$base-font: 'Roboto', sans-serif;
$base-fontSize: 10px;
$base-color: #000;
$base-bg-color: #fff;

$info-cell-witdh: 40px;
$row-height: 25px;
$cell-width: 120px;

$padding: 5px 10px;

$color-row: #f8f9fa;
$color-column: #111;
$color-cell-selected: #3c74ff;
$color-listRecord: #e6f4ea;
$color-newTable: #dadce0;
$color-tableItem: #202124;
$border-color: #c0c0c0;