.excel__table {
    padding: 94px 0 5px 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    .row {
        display: flex;
        min-height: 20px;
        height: $row-height;
    }

    .row__info {
        @include flexCenter;
        min-width: $info-cell-witdh;
        height: 100%;
        border: 1px solid $border-color;
        border-top: none;
        background-color: $color-row;
        position: relative;

        .row__resize {
            left: 0;
            height: 4px;
            &:hover {
                cursor: row-resize;
            }
        }
    }

    .row__data {
        display: flex;
    }

    .column {
        @include flexCenter;
        background-color: $color-row;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $border-color;
        border-top: none;
        border-left: none;
        white-space: nowrap;
        color: $color-column;
        position: relative;

        &__resize {
            top: 0;
            width: 4px;
            &:hover {
                cursor: col-resize;
            }
        }
    }

    .column__resize, .row__resize {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: $color-cell-selected;
        z-index: 1000;
        &:hover {
            opacity: 1;
        }
    }

    .cell {
        position: relative;
        min-width: 40px;
        width: $cell-width;
        padding: 6px;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        outline: none;
        &.selected {
            outline: 3px solid $color-cell-selected;
            outline-offset: -2px;
        }
    }

    .resize__cursor {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: blue;
    }

   
}